.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-auto-rows: 30rem;
  grid-gap: 1.5rem;
  
  @media only screen and (max-width: $bp-small) {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-auto-rows: 30rem;
    grid-gap: 10px;
  }
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-primary);
  transition: all ease-in-out .3s;
  cursor: pointer;

  border-radius: 3px;

  &:hover {
    background-color: var(--color-primary-dark);
  }

  &:link,
  &:visited {
    text-decoration: none;
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: var(--color-primary);
    box-shadow: var(--shadow-light);
    border-radius: 6px;
    padding: 2rem;
    color: #fff;

    transition: all ease-in-out .3s;
    cursor: pointer;

    &:hover {
      background-color: var(--color-primary-dark);
    }
    
    @media only screen and (max-width: $bp-small) {
      font-size: 3rem;
    }
  }
}
