.section {
  margin: 4rem;

  &__title {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    padding: 0 0.3rem;
    border-bottom: 2.5px solid var(--color-primary); 
    font-size: 3.4rem;
    font-weight: 700;
  }

  &__subtitle {
    margin-top: 1.5rem;
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
  }
}
